.App {
  text-align: center;
}

.nav-box-margin {
  margin-top : 20px;
}

.id-margin {
  flex-direction: column;
  display: inline-flex ;
  align-items: center;
  margin-left: 5px;
  color : white;
}

.오와열 {
  display:flex;
}

.align-a-cross {
  flex-direction: row
}

.start {
  opacity : 0;
}

.end {
  opacity : 1 ;
  transition : opacity 0.5s;
}

.perk-box{
  border-radius: 60%;
  background-color: black;
}

.display-flex{
  display : flex ;
}

.champ_Box {
  float: left ;
  width : 50px;
  border: 1px solid;
  border-color: #555cd3;
}

.float-left {
  float : left ;
}

.team-color {
  align-items: center;
  display: inline-flex;
  background-color: #2C62D3;
  width : 300px ;
  height : 150px ;
  margin-top : 50px ;
  margin-left : 50px;
  margin-right : 50px
}

.team-color2 {
  align-items: center;
  display: inline-flex;
  background-color: #DB3524;
  width : 300px ;
  height : 150px ;
  margin-top : 50px ;
  margin-left : 50px;
  margin-right : 50px
}

.team-color-small {
  background-color: #2C62D3;
  align-items: center;
  display: inline-flex;
}

.team-color2-small {
  background-color: #DB3524;
  align-items: center;
  display: inline-flex;
}


.searchbar-location {
  margin-top : 300px;
  margin-right : auto;
  margin-left : auto;
  align-items : center;
  text-align : center;
  width : 60% ;
  display : flex ;
}

.img-summoner-spell{
  width : 10px ;
  height : 10px ;
}

.img-perks {
  flex-direction: column;
  width : 30px ;
  height : 30px ;
}


.img-enemy-rounded{
  border: 1px solid black;
  border-radius: 100%;
  margin :  10px;
}

.img-centered {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width : 50px;
  height: 50px;
  border-radius: 70%;
  margin-left : 10px ;
  margin-top : 10px ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.black-nav {
  display: flex;
  background : black;
  color: white ;
}

.flex-box {
  margin : 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  border:1px dotted black;
  white-space: pre-line
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
